.abnormal-cryptos-body {
    width: 100%;
    padding: 8px;
    margin: 14px;
    margin-top:10px;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

.abnormal-cryptos-body .header {
    all:unset;
    font-size: 20px;
    display:inline-block;
    margin-left: 10px;
}

.abnormal-cryptos-body table {
    font-size: 13px;
    margin-top: 10px;
    background-color: #FAFAFA;
}

.abnormal-cryptos-body .ant-table-row {
    height: 36px !important;    
}

.abnormal-cryptos-body .ant-table-cell {
    padding-top: 2px !important;    
    padding-bottom: 2px !important;    
}