.home-body {
    background-color: white;
    margin: 20px auto;
    max-width: 1100px;
    border-radius: 20px;
}

.home-body  .welcome-text {
    padding: 30px;
}

.home-body  .welcome-text .title{
    font-size: 30px;
}

.home-body  .welcome-text .main-text{
    margin-top: 8px;
    color: rgb(124 124 124);
    font-size: 15px;

}
.home-body .cosmonaut-image  {
    border-radius: 20px;
}